@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,regular,italic,700,700i,900,900i|Merriweather:300,300i,regular,italic,700,700i,900,900i|Merriweather:300,300i,regular,italic,700,700i,900,900i|Merriweather:300,300i,regular,italic,700,700i,900,900i|Merriweather:300,300i,regular,italic,700,700i,900,900i|Merriweather:300,300i,regular,italic,700,700i,900,900i|');

.section-header {
  padding-bottom: 0px;
  font-weight: 900;
  font-size: 32px;
  margin-top: 44px;
}
.section-header h2 {
  margin-top: 16px!important;
  padding-bottom: 2px;
  font-family: Merriweather;
  height: 156px;
  top: -72px !important;
  right: -60px;
  padding-top: 18px;
  display: block;
  position: static;
}
.container > .navbar-header {
  top: 58px;
  width: 1146px!important;
  height: 87px;
  margin-top: 18px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  line-height: 77px;
  right: 61px;
  background-image: none;
  opacity: 1;
  min-width: 9px;
  margin-right: 4px;
  color: #010101;
}
.navbar-inverse .navbar-brand a img {
  height: 111.984375px;
  margin-top: 6px;
  border-style: solid;
  border-width: 0px;
  border-color: #090909;
  padding-top: 0px;
  margin-bottom: 0px;
  background-position: center;
  background-blend-mode: multiply;
  background-attachment: fixed;
  position: fixed;
  left: 585px;
  right: 244px!important;
  max-width: 114%;
  display: block;
  bottom: 1050px;
  background-size: cover;
}
.header.header {
  margin-top: 78px;
  top: 46px;
  background-image: none;
}
.about-us .big-intro {
  background-position: center;
  color: #fefbfb;
}
.about-us .section-header .section-legend {
  height: 0px;
  font-family: Merriweather;
  right: 124px!important;
  padding-bottom: 5px;
  margin-top: 2px!important;
  padding-top: 0px;
}
.skills .skill .section-legend label {
  color: #fefcfc;
}
.container {
  opacity: 1;
  box-sizing: content-box;
  padding-right: 0px;
  padding-left: 0px;
  top: 162px;
  bottom: -516px;
  margin-top: 304px;
  background-image: none;
}
.section-header .section-legend {
  font-size: 22px;
  font-family: Merriweather;
  top: -90px !important;
  display: inline-block;
  height: 26px;
  margin-top: 1px;
}
html > body > #mobilebgfix > div:nth-child(2) > #content > #aboutus > div > div:nth-child(1) > h2 {
  color: #fefcfc;
  right: -156px;
  margin-top: 28px!important;
  padding-top: 48px;
}
#menu-update-menu.nav.navbar-nav.navbar-right.responsive-nav.main-nav-list {
  font-weight: 800;
  font-size: 17px;
  text-transform: none;
  letter-spacing: 2px;
  top: -622px !important;
  margin-top: 3px;
  height: 99px;
  display: inline;
  box-sizing: border-box;
  margin-right: 0px;
  position: static;
}
body.custom-background {
  height: 3506px!important;
  top: 255px;
  margin-top: 0px;
}
#focus.focus {
  background-image: none;
  background-blend-mode: normal;
  top: -124px !important;
  padding-top: 20px!important;
  background-attachment: fixed;
  height: 741px;
  padding-bottom: 1px!important;
}
html {
  margin-top: 21px;
  top: 39px;
  padding-top: 0px;
  opacity: 1;
  background-attachment: fixed;
  background-image: none;
  height: 3516px;
  bottom: 32px;
  padding-bottom: 1px;
}
.our-clients h5 {
  top: 42px;
}
.our-clients .section-footer-title {
  top: 218px!important;
  font-size: 25px;
  margin-top: 11px!important;
  padding-top: 8px!important;
  height: 40.66666793823242px!important;
  box-sizing: content-box;
  min-height: 2px;
}
#main-nav.navbar.navbar-inverse.bs-docs-nav {
  background-attachment: fixed;
  opacity: 0.7;
  min-height: 62px!important;
  height: 168px!important;
  top: -50px !important;
  color: #080808;
  margin-top: 2px!important;
  display: block;
  font-size: 27px!important;
  right: 0px;
}
.focus .row {
  top: 86px;
}
#menu-update-menu.nav.navbar-nav.navbar-right.responsive-nav.main-nav-list li a {
  top: -543px;
  color: #c0c0c0;
  font-size: 19px;
  line-height: 38px;
  letter-spacing: 0px;
  font-family: Lucida Console, Monaco, monospace;
  margin-top: 2px;
  padding-bottom: 2px;
  height: 41px;
}
#site-navigation.navbar-collapse.bs-navbar-collapse.collapse {
  top: 102px;
  margin-top: 150px;
}
.focus .row .focus-box h3 {
  font-family: Merriweather;
}
.about-us .column p {
  font-family: Merriweather;
  font-size: 17px;
}
.our-clients {
  top: -1px;
  width: 1168px;
  height: 0px;
  font-weight: 900;
  font-family: Merriweather;
}
.row {
  bottom: -615px;
  height: 450px!important;
  top: -4px !important;
}
.about-us {
  top: 0px!important;
  height: 1194px!important;
  padding-top: 5px!important;
  background-position: center;
  margin-bottom: 0px!important;
}
html > body > #mobilebgfix > div:nth-child(2) > #content > #aboutus {
  top: -216px !important;
  right: -100px;
  height: 1094px!important;
  width: 2500px;
  padding-top: 0px!important;
  margin-top: 0px;
  margin-bottom: 3px;
  line-height: 50px;
}
html > body > #mobilebgfix > div:nth-child(2) > #content > #focus > div > div:nth-child(1) {
  top: -88px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 8px;
  height: 0px;
}
html > body > #mobilebgfix > div:nth-child(2) > #content > #focus > div > div:nth-child(1) > div {
  top: -218px;
}
html > body > #mobilebgfix > div:nth-child(2) > #content > #focus > div > div:nth-child(2) > #ctup-ads-widget-3 > div {
  top: 133px;
}
html > body > #mobilebgfix > div:nth-child(2) > #home > #main-nav > div {
  top: 189px;
  margin-top: 304px;
}
html > body > #mobilebgfix > div:nth-child(2) > #home > #main-nav {
  height: 166px!important;
  top: 379px!important;
  margin-top: 3px!important;
  font-size: 24px!important;
  background-color: #050000;
  color: #999999;
  display: block;
  position: absolute;
}
html > body > #mobilebgfix > div:nth-child(2) > #content > #focus > div > div:nth-child(1) > h2 {
  top: -243px;
  word-spacing: -1px;
  letter-spacing: -1px;
  line-height: 54px;
  margin-top: 0px;
  padding-bottom: 0px;
}
html > body > div:nth-child(10) {
  top: 125px;
}
html > body > #mobilebgfix > div:nth-child(2) > #home > #main-nav > div > #site-navigation > #menu-update-menu > #menu-item-1520 {
  top: 20px!important;
}
html > body > #mobilebgfix > div:nth-child(2) > #home > #main-nav > div > #site-navigation > #menu-update-menu > #menu-item-1520 > a {
  top: -546px;
}
html > body {
  height: 3509px!important;
  margin-top: 7px!important;
  top: 212px!important;
  padding-bottom: 3px;
}
#menu-update-menu.nav.navbar-nav.navbar-right.responsive-nav.main-nav-list li {
  top: 16px!important;
}
html > body > #mobilebgfix > div:nth-child(2) > #content > #focus {
  top: 71px!important;
  height: 1200px;
}
html > body > #mobilebgfix > div:nth-child(2) > #home > #main-nav > div > #site-navigation > #menu-update-menu > #menu-item-1521 {
  top: 1px;
}
html > body > #mobilebgfix > div:nth-child(2) > #home > #main-nav > div > #site-navigation > #menu-update-menu {
  top: 444px!important;
  height: 103px;
}
html > body > #mobilebgfix > div:nth-child(2) > #content > #focus > div > div:nth-child(2) {
  top: -201px !important;
  height: 441px;
  bottom: 1000px;
}
html > body > #mobilebgfix > div:nth-child(2) > #home > #main-nav > div > #site-navigation > #menu-update-menu > #menu-item-1550 {
  top: 0px!important;
}
html > body > #mobilebgfix > div:nth-child(2) > #home > #main-nav > div > #site-navigation > #menu-update-menu > #menu-item-1613 {
  top: 0px;
}
html > body > #mobilebgfix > div:nth-child(2) > #home > #main-nav > div > div {
  top: -414px;
}
html > body > #mobilebgfix > div:nth-child(2) > #content > #aboutus > div > div:nth-child(1) > div {
  right: -338px !important;
  max-height: 3px;
  margin-top: 3px!important;
  padding-bottom: 5px;
  background-position: center;
  line-height: 42px;
  height: 0px;
  top: -574px !important;
  margin-left: 0px;
  margin-right: 0px;
}
html > body > #mobilebgfix > div:nth-child(2) > #content > #aboutus > div > div:nth-child(1) {
  right: 36px;
  left: 66px;
  margin-left: 0px;
}
html > body > #mobilebgfix > div:nth-child(2) > #content > #team > div > div:nth-child(1) > h2 {
  right: -177px;
}
html > body > #mobilebgfix > div:nth-child(2) > #home > #main-nav > div > #site-navigation > #menu-update-menu > #menu-item-1550 > a {
  top: -538px;
}
html > body > #mobilebgfix > div:nth-child(2) > #home > #main-nav > div > #site-navigation > #menu-update-menu > #menu-item-1527 > a {
  top: -553px;
}
html > body > #mobilebgfix > div:nth-child(2) > #home > #main-nav > div > #site-navigation > #menu-update-menu > #menu-item-1521 > a {
  top: -552px;
}
html > body > #mobilebgfix > div:nth-child(2) > #home > #main-nav > div > div > div {
  height: 0px!important;
}
.focus .row .focus-box {
  top: 220px!important;
}
html > body > #mobilebgfix > div:nth-child(2) > #content > #aboutus > div > div:nth-child(2) > div:nth-child(1) > div {
  bottom: 152px;
  height: 331.66668701171875px;
  max-height: 3px;
  margin-top: 17px;
  letter-spacing: 9px;
}
html > body > #mobilebgfix > div:nth-child(2) > #content > #aboutus > div > div:nth-child(3) > h5 > span {
  margin-top: 12px!important;
  padding-top: 9px!important;
  height: 37.66666793823242px!important;
  top: 189px;
  position: static;
  bottom: 166px;
}
html > body > #mobilebgfix > div:nth-child(2) > #content > #aboutus > div > div:nth-child(4) > div {
  top: 750px;
  line-height: 12px;
  height: 230px;
  position: fixed;
  left: 1173px;
  bottom: 9px;
}
.client-list div {
  top: 834px!important;
}
.client-list {
  top: 363px;
}
html > body > #mobilebgfix > div:nth-child(2) > #home {
  top: 48px;
  height: 304px;
}
html > body > #mobilebgfix > div:nth-child(2) > #content > #team {
  top: 92px;
  height: 1008px;
  padding-top: 6px!important;
  width: 2555.666748046875px;
}
