.container > .navbar-header {
  margin-top: 0px;
  padding-top: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(http://corelighttransformation.com/wp-content/uploads/2018/09/Level-IV-Color-285x214.png);
  background-position: center;
  padding-bottom: 0px;
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 47px;
  border-top-left-radius: 0px;
  background-attachment: fixed;
  font-size: 12px;
}
#menu-update-menu.nav.navbar-nav.navbar-right.responsive-nav.main-nav-list {
  font-size: 21px;
  line-height: 75px;
  font-style: normal;
  word-spacing: 20px;
}
#focus.focus {
  padding-top: 52px!important;
  margin-top: 97px!important;
  opacity: 1;
  visibility: visible;
  top: -523px;
  height: 798.7421875px;
  list-style-position: outside;
  display: block;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
html > body > #mobilebgfix > div:nth-child(2) > #content > #focus {
  margin-top: 41px;
  padding-top: 30px;
}
html > body > #mobilebgfix > div:nth-child(2) > #home > #main-nav > div > #site-navigation > #menu-update-menu > #menu-item-1527 > a {
  opacity: 1;
  margin-top: 2px;
}
#menu-update-menu.nav.navbar-nav.navbar-right.responsive-nav.main-nav-list li a {
  font-weight: 600;
}
#main-nav.navbar.navbar-inverse.bs-docs-nav {
  font-size: 30px;
  padding-bottom: 0px;
  margin-bottom: -100px;
  margin-top: 31px;
  padding-top: 0px;
  visibility: hidden;
}
.header.header {
  background-image: none;
  border-radius: 20px;
  padding-top: 0px;
  opacity: 0.6;
  min-height: 460px!important;
  max-width: 16px;
}
.home .site-content {
  opacity: 1;
  min-width: 0px;
  min-height: 1px;
  top: -201px;
  background-blend-mode: normal;
  background-attachment: fixed;
}
.header.header:hover {
  opacity: 0.2;
}
body.custom-background {
  position: static;
  min-width: 10px;
  margin-top: 380px;
  margin-left: 2px;
}
.blog {
  background-image: url(http://corelighttransformation.com/wp-content/uploads/2018/09/Level-IV-Color-1-285x214.png);
  background-position: bottom;
  margin-top: 0px;
  position: relative;
  right: 2px;
  bottom: 11px;
  box-shadow: #0f0313 12px 7px 10px 0px;
  float: none;
  display: block;
  box-sizing: content-box;
  width: 2191.25px;
  padding-bottom: 0px;
  list-style-type: disc;
  opacity: 1;
}
@media only screen and (min-width: 1025px) {
  .blog {
    background-size: auto;
  }
}
.section-header h2 {
  color: #939393;
  font-family: #0f0e0e;
}
.about-us .big-intro {
  color: #939393;
}
.skills .skill .section-legend label {
  color: #939393;
  font-weight: 900;
}
.about-us .section-header .section-legend {
  color: #939393;
  font-weight: 900;
}
.about-us .column p {
  font-weight: 900;
}
.team-member .position {
  font-size: 19px;
  color: #939393;
}
.section-header .section-legend {
  font-size: 24px;
  color: #939393;
}
.our-team {
  position: static;
  top: 390px;
  height: 1351px;
  padding-top: 0px!important;
}
.contact-us {
  top: 6px;
  position: relative;
  opacity: 1;
  width: none;
}
textarea.form-control {
  font-size: 23px;
  opacity: 0.5;
  font-family: Impact, Charcoal, sans-serif;
}
.pirate_forms_wrap .form_field_wrap input {
  font-size: 23px;
  color: #373636;
  opacity: 0.5;
  font-family: Impact, Charcoal, sans-serif;
}
.team-member .profile-pic img {
  top: -156px;
  border-top-right-radius: 0px;
}
.focus .row .focus-box p {
  color: #404040;
  font-size: 18px;
  line-height: 4px;
  font-weight: 700;
}
.about-us {
  padding-top: 7px!important;
  height: 640px;
  top: 13px;
  border-style: solid;
  border-width: 2px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-width: 26px;
  opacity: 1;
  min-height: 0px;
  background-position: center;
}
.team-member .member-details h3 {
  color: #939393;
}
.contact-us .section-header .section-legend {
  color: #939393!important;
}
.pirate_forms_wrap .form_field_wrap .pirate-forms-submit-button {
  color: #373636!important;
  border-color: #939393;
  border-style: solid;
  border-width: 0px;
  opacity: 1;
  background-color: #939393;
  font-size: 19px;
  text-align: right;
}
html {
  margin-top: 166px;
  padding-top: 0px;
  padding-bottom: 0px;
}
/* 3 */
@media screen and (max-width: 320px) {
  .blog {
    min-width: 0px;
    min-height: none;
    background-position: right;
    background-blend-mode: dodge;
    visibility: hidden;
    opacity: 0.4;
  }
  .home .site-content {
    top: -174px;
    right: -314px;
    width: none;
    height: none;
    min-width: 0px;
    opacity: 0.2;
  }
  html {
    min-height: 1000px;
    height: 1000px;
    top: -667px;
    bottom: -885px;
  }
}
