/*
CSS Name: Default Styles
Description: NextGEN Default Gallery Stylesheet
Author: Photocrati Media
Version: 2.12

This stylesheet is provided to allow users the ability of overriding the default styles for all display types
*/
.ngg-gallery-thumbnail-box {
	margin: 10px 0px !important;
}
.ngg-gallery-thumbnail img {
	margin: 0px;
	cursor: zoom-in;
}
.ngg-gallery-thumbnail img:hover {
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0,0.5);
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	background-color: #fff;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.ngg-gallery-thumbnail span {
	font-size: 16px;
	padding: 5px 0 0 0;
	text-align: center;
}
.ngg-navigation span {
	margin: 1px 10px;
}
.ngg-navigation a.page-numbers, .ngg-navigation a.next, .ngg-navigation a.prev, .ngg-navigation span.page-numbers, .ngg-navigation span.next, .ngg-navigation span.prev {
	border: 1px solid #dddddd;
	margin-right: 10px;
	padding: 5px 10px;
	text-decoration: none;
}
.ngg-navigation a.page-numbers:hover, .ngg-navigation a.next:hover, .ngg-navigation a.prev:hover, .ngg-navigation span.page-numbers:hover, .ngg-navigation span.next:hover, .ngg-navigation span.prev:hover {
	background-color: #5D5D5D;
	color: #ffffff !important;
	text-decoration: none !important;
}
#fancybox-title {
	font-size: 18px;
}
.headstyl_gallery {
	border-bottom: 1px dotted #ccc;
	color: #383838;
	float: left;
	font-size: 20px;
	letter-spacing: -1px;
	line-height: 26px;
	margin: 8px 0 8px 15px;
	padding: 4px 0;
	width: 97%;
}
.ngg-navigation {
	margin-bottom: 5px;
}
/* Album css*/
.ngg-album-compactbox::before {
	border-bottom: 0px solid gray;
	border-radius: 0px;
	bottom: 0px;
	content: " ";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}
.ngg-album-compactbox::after {
	border-bottom: 0px solid gray;
	border-radius: 0px;
	bottom: 0px;
	content: " ";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}
.ngg-album-link {
	line-height: 0;
}
.ngg-album-compactbox {
	border: 1px solid #c8c8c8;
	border-radius: 2px;
}
.ngg-album-compactbox .Thumb {
	border: 0 solid black !important;
}
.ngg-album-compact p {
	display: none;
}
.ngg-album-compact h4 .ngg-album-desc {
	height: auto;
	text-decoration: none;
	color: #5c5c5c;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.ngg-album-compact h4 {
	font-size: 16px;
	font-weight: normal;
	margin: 10px 0;
	width: 100%;
	text-align: center;
}
.ngg-album-compact {
	padding: 5px 23px !important;
}
.ngg-album-compactbox:hover {
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0,0.3);
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.ngg-breadcrumbs {
	border-bottom: 1px dotted #bebebe;
	padding: 0px 0;
	margin: 0 20px 20px;
}
.ngg-breadcrumbs li {
	color: #000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	padding: 0 0 10px;
}
.ngg-gallery-thumbnail-box {
	margin-right: 0;
}
.ngg-gallery-thumbnail img {
	border: 1px solid #c8c8c8;
	margin: 7px;
}
.ngg-gallery-thumbnail img:hover {
	background-color: #c8c8c8;
}

@media only screen and (min-width:200px) and (max-width:500px) {
.ngg-albumoverview {
	text-align: center !important;
}
.ngg-album-compact {
	float: none;
	display: inline-block;
}
.ngg-album-compact {
	padding: 5px 5px !important;
}
.ngg-galleryoverview {
	text-align: center;
}
.ngg-gallery-thumbnail-box {
	float: none !important;
	display: inline-block !important;
}
.ngg-breadcrumbs li {
	font-size: 14px !important;
	padding: 0 0 4px !important;
}
.ngg-galleryoverview {
	text-align: center;
}
.ngg-gallery-thumbnail-box {
	display: inline-block;
	float: none;
	margin: 5px 4px !important;
	width:46%;
}

.ngg-gallery-thumbnail img {
	height: auto !important;
	width: 100% !important;
	margin:0 !important;
}
}

@media only screen and (min-width:501px) and (max-width:767px) {
.ngg-albumoverview {
	text-align: center !important;
}
.ngg-album-compact {
	float: none;
	display: inline-block;
}
.ngg-album-compact {
	padding: 5px 5px !important;
}
.ngg-galleryoverview {
	text-align: center;
}
.ngg-gallery-thumbnail-box {
	float: none !important;
	display: inline-block !important;
}
.ngg-gallery-thumbnail img {
	margin: 1px !important;
}
.ngg-galleryoverview {
	text-align: center;
}
.ngg-gallery-thumbnail-box {
	display: inline-block;
	float: none;
	margin: 5px 6px !important;
	width:30.8%
}
.ngg-gallery-thumbnail img {
	height: auto !important;
	width:100% !important;
}
}

@media only screen and (min-width:768px) and (max-width:900px) {
.ngg-albumoverview {
	text-align: center !important;
}
.ngg-album-compact {
	float: none;
	display: inline-block;
}
.ngg-album-compact {
	padding: 5px 15px !important;
}
.ngg-galleryoverview {
	text-align: center;
}
.ngg-gallery-thumbnail-box {
	float: none !important;
	display: inline-block !important;
}
.ngg-gallery-thumbnail img {
	margin: 10px !important;
}
.ngg-galleryoverview {
	text-align: center;
}
.ngg-gallery-thumbnail-box {
	display: inline-block;
	float: none;
	margin: 10px 9px !important;
}
}

@media only screen and (min-width:901px) and (max-width:1023px) {
.ngg-albumoverview {
	text-align: center !important;
}
.ngg-album-compact {
	float: none;
	display: inline-block;
	padding: 5px 22px !important;
}
.ngg-galleryoverview {
	text-align: center;
}
.ngg-gallery-thumbnail-box {
	display: inline-block;
	float: none;
}
.ngg-gallery-thumbnail-box {
	margin: 10px 12px !important;
}
}

@media only screen and (min-width:1024px) and (max-width:1200px) {
.ngg-album-compact {
	padding: 5px 5px !important;
}
.ngg-albumoverview {
	text-align: center !important;
}
.ngg-album-compact {
	float: none;
	display: inline-block;
}
.ngg-galleryoverview {
	text-align: center;
}
.ngg-gallery-thumbnail-box {
	display: inline-block;
	float: none;
}
.ngg-gallery-thumbnail-box {
	margin: 10px 12px !important;
}
}
