.header-content-wrap {
  margin: 10px;
  margin-top: -79px;
  font-size: -2px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 11px;
}

#site-navigation.navbar-collapse.bs-navbar-collapse.collapse {
  margin: 0px;
  width: -1px;
}

#main-nav.navbar.navbar-inverse.bs-docs-nav {
  margin: 125px;
  margin-bottom: 17px;
  margin-top: -84px;
  padding: -1px;
  padding-left: -3px;
  margin-left: -1px;
  color: #140202;
  background-color: #a8a6a6;
  padding-top: 2px;
  padding-bottom: 85px;
  font-size: 3px;
  line-height: 0px;
}

#menu-update-menu.nav.navbar-nav.navbar-right.responsive-nav.main-nav-list {
  font-size: 3px;
  text-indent: 29px;
  letter-spacing: 10px;
  word-spacing: -16px;
  text-align: center;
  text-transform: none;
  line-height: 3px;
  margin-left: 1px;
  margin-top: 20px;
  padding-left: 2px;
  padding: -18px;
  position: absolute;
  color: #f6f7f4;
  margin: 0px;
  padding-bottom: 9px;
  padding-top: -21px;
  margin-bottom: 0px;
  top: 82px;
  background-color: #f7f2f2;
}

.navbar-inverse .navbar-nav ul.sub-menu li:hover > a {
  line-height: 4px;
  color: #807070;
  text-align: center;
  margin-left: 1px;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #fbfcf7;
  margin-top: 1px;
  margin-bottom: 10px;
  margin: 6px;
}

.focus {
  margin-top: 163px;
  background-color: #8e87ab;
  font-size: 2px;
  margin: 0px;
  padding-top: 5px;
  margin-bottom: 53px;
  padding: 2px;
}

#ribbon_bottom.separator-one {
  margin-top: 6px;
  padding: 0px;
}

.about-us {
  background-color: #95cc8d;
}

.about-us .big-intro {
  color: #faf7f7;
}

.about-us p {
  color: #faf7f7;
}

.skills .skill p {
  color: #faf7f7;
  font-size: 4px;
}

.about-us .section-header .section-legend {
  font-size: 2px;
}

.our-team {
  color: #a66767;
  background-color: #ded7d7;
  margin-top: -29px;
  padding-bottom: 0px;
  margin-bottom: -2px;
}

.team-member .position {
  color: #1a0202;
}

.focus-box p {
  color: #1a0202;
  font-size: 4px;
}

.testimonial {
  padding: 0px;
  margin-top: 421px;
  margin-bottom: 0px;
  margin: 0px;
  padding-top: 0px;
}

.color-overlay {
  background-color: #96a5e0;
  margin-bottom: -2px;
  padding-top: 5px;
  margin-top: 522px;
}

div {
  margin-bottom: -1px;
}

.btn.btn-primary.custom-button.green-btn {
  background-color: #7373a6;
  font-size: 4px;
}

label {
  font-size: 2px;
}

.container>.navbar-header {
  clear: both;
}

#content.site-content {
  margin-top: 128px;
}

.home-header-wrap {
  margin: -1px;
}

.mobile-bg-fix-whole-site {
  margin-top: 4px;
}

.contact-us {
  background-color: #783434;
  margin-top: 36px;
}

.section-header h2 {
  margin-top: 225px;
  color: #1a0505;
}



.contact-us .section-header .section-legend {
  color: #140303;
  font-size: 7px;
}